[ConnectionProperties]
host: csxstaging01.ist.psu.edu
key: csxb0t
batchSize: 10
username: csx-devel
password: csx-devel
database: citeseerx_crawl
startID: 14000000

[ExtractionConfigurations]
numProcesses: 8
stopProcessing: False
maxDocs: 10
baseDocumentPath: /export/dataksu/repository/
baseResultsPath: /data/huy138/output/
baseLogPath: /data/huy138/logs/results/
logDirPath: /data/huy138/logs/

[WrapperSettings]
; use 0 for file system
; use 1 for RESTful API
; use 2 for mySQL API
wrapper: 2

[States]
PASS: 1
FAIL: -1
EXTRACTING: 2
CRAWLED: 0